In [60]:
import pandas as pd # data processing
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv("dataset1bln.csv",usecols=['start'],  parse_dates=True)
df = pd.DataFrame(df)
#df = df.drop(df.columns[[0]], axis=1)
df1 = pd.read_csv("idpair.csv")
df1 = pd.DataFrame(df1)
#merged_data =  pd.concat(
#    map(pd.read_csv, ['MeanIntercontact_Dataset.csv', 'areaforPrepo2.csv']), ignore_index=True)
#merged_data.set_index('ID_', inplace = True)
#df2.rename(columns = {'intercontact':'MeanInt_Norm'}, inplace = True)
#df.columns = df.transpose()
df3 = pd.concat([df1, df], axis=1)
#df3.index = df3['id_pair']
#df = df.drop(df.columns[[4,5]], axis=1)
print(df)
#df1 = df.set_index(['id_pair'])

                   start
0    2004-07-19 12:00:00
1    2004-07-19 12:00:00
2    2004-07-20 06:00:00
3    2004-07-20 06:00:00
4    2004-07-20 06:00:00
..                   ...
304  2004-08-19 12:00:00
305  2004-08-19 12:00:00
306  2004-08-19 12:00:00
307  2004-08-19 12:00:00
308  2004-08-19 12:00:00

[309 rows x 1 columns]

In [83]:
import pandas as pd # data processing
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv("datetime.csv",header=None, parse_dates=True)
result = df.transpose()
result = result.rename(columns=result.iloc[0]).drop(df.index[0])
df1 = pd.read_csv("idpair.csv")
df1 = pd.DataFrame(df1)
df3 = pd.concat([df1, result], axis=1)
df3.set_index(['id_pair'], inplace = True)
print(df3)

        2004-07-19 12:00:00 2004-07-19 12:00:00 2004-07-20 06:00:00  \
id_pair
0,1                     NaN                 NaN                 NaN
0,2                     NaN                 NaN                 NaN
0,4                     NaN                 NaN                 NaN
0,5                     NaN                 NaN                 NaN
0,6                     NaN                 NaN                 NaN
...                     ...                 ...                 ...
86,87                   NaN                 NaN                 NaN
86,88                   NaN                 NaN                 NaN
86,89                   NaN                 NaN                 NaN
87,88                   NaN                 NaN                 NaN
88,89                   NaN                 NaN                 NaN

        2004-07-20 06:00:00 2004-07-20 06:00:00 2004-07-20 12:00:00  \
id_pair
0,1                     NaN                 NaN                 NaN
0,2                     NaN                 NaN                 NaN
0,4                     NaN                 NaN                 NaN
0,5                     NaN                 NaN                 NaN
0,6                     NaN                 NaN                 NaN
...                     ...                 ...                 ...
86,87                   NaN                 NaN                 NaN
86,88                   NaN                 NaN                 NaN
86,89                   NaN                 NaN                 NaN
87,88                   NaN                 NaN                 NaN
88,89                   NaN                 NaN                 NaN

        2004-07-20 12:00:00 2004-07-20 12:00:00 2004-07-21 00:00:00  \
id_pair
0,1                     NaN                 NaN                 NaN
0,2                     NaN                 NaN                 NaN
0,4                     NaN                 NaN                 NaN
0,5                     NaN                 NaN                 NaN
0,6                     NaN                 NaN                 NaN
...                     ...                 ...                 ...
86,87                   NaN                 NaN                 NaN
86,88                   NaN                 NaN                 NaN
86,89                   NaN                 NaN                 NaN
87,88                   NaN                 NaN                 NaN
88,89                   NaN                 NaN                 NaN

        2004-07-21 06:00:00  ... 2004-08-19 12:00:00 2004-08-19 12:00:00  \
id_pair                      ...
0,1                     NaN  ...                 NaN                 NaN
0,2                     NaN  ...                 NaN                 NaN
0,4                     NaN  ...                 NaN                 NaN
0,5                     NaN  ...                 NaN                 NaN
0,6                     NaN  ...                 NaN                 NaN
...                     ...  ...                 ...                 ...
86,87                   NaN  ...                 NaN                 NaN
86,88                   NaN  ...                 NaN                 NaN
86,89                   NaN  ...                 NaN                 NaN
87,88                   NaN  ...                 NaN                 NaN
88,89                   NaN  ...                 NaN                 NaN

        2004-08-19 12:00:00 2004-08-19 12:00:00 2004-08-19 12:00:00  \
id_pair
0,1                     NaN                 NaN                 NaN
0,2                     NaN                 NaN                 NaN
0,4                     NaN                 NaN                 NaN
0,5                     NaN                 NaN                 NaN
0,6                     NaN                 NaN                 NaN
...                     ...                 ...                 ...
86,87                   NaN                 NaN                 NaN
86,88                   NaN                 NaN                 NaN
86,89                   NaN                 NaN                 NaN
87,88                   NaN                 NaN                 NaN
88,89                   NaN                 NaN                 NaN

        2004-08-19 12:00:00 2004-08-19 12:00:00 2004-08-19 12:00:00  \
id_pair
0,1                     NaN                 NaN                 NaN
0,2                     NaN                 NaN                 NaN
0,4                     NaN                 NaN                 NaN
0,5                     NaN                 NaN                 NaN
0,6                     NaN                 NaN                 NaN
...                     ...                 ...                 ...
86,87                   NaN                 NaN                 NaN
86,88                   NaN                 NaN                 NaN
86,89                   NaN                 NaN                 NaN
87,88                   NaN                 NaN                 NaN
88,89                   NaN                 NaN                 NaN

        2004-08-19 12:00:00 2004-08-19 12:00:00
id_pair
0,1                     NaN                 NaN
0,2                     NaN                 NaN
0,4                     NaN                 NaN
0,5                     NaN                 NaN
0,6                     NaN                 NaN
...                     ...                 ...
86,87                   NaN                 NaN
86,88                   NaN                 NaN
86,89                   NaN                 NaN
87,88                   NaN                 NaN
88,89                   NaN                 NaN

[2132 rows x 309 columns]

In [6]:
import pandas as pd # data processing
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv("FIX-DATASET-cek.csv",  parse_dates=True)
df = pd.DataFrame(df)
df = df.fillna(0)
df = df = df.astype({"SpatialLoc":'int', "connected":'int'}) 
print(df.head(50))  
print(df.info())
#df.to_csv('FIX-DATASET-cek.csv', index=False,    encoding='utf-8')

                  start id_colums  intercontact  SpatialLoc  connected
0   2004-07-19 12:00:00       0,1         0.000           0          0
1   2004-07-19 12:00:00       0,2         0.000           0          0
2   2004-07-19 12:00:00       0,3         0.000           0          0
3   2004-07-19 12:00:00       0,4         0.000           0          0
4   2004-07-19 12:00:00       0,5         0.000           0          0
5   2004-07-19 12:00:00       0,6         0.000           0          0
6   2004-07-19 12:00:00       0,7         0.000           0          0
7   2004-07-19 12:00:00       0,8         0.000           0          0
8   2004-07-19 12:00:00      0,10         0.000           0          0
9   2004-07-19 12:00:00      0,17         0.000           0          0
10  2004-07-19 12:00:00      0,18         0.000           0          0
11  2004-07-19 12:00:00      0,59         0.000           0          0
12  2004-07-19 12:00:00      0,87         0.000           0          0
13  2004-07-19 12:00:00      0,89         0.000           0          0
14  2004-07-19 12:00:00       1,2         0.000           0          0
15  2004-07-19 12:00:00       1,3         0.067           2          1
16  2004-07-19 12:00:00       1,4         0.000           0          0
17  2004-07-19 12:00:00       1,5         0.000           0          0
18  2004-07-19 12:00:00       1,6         0.000           0          0
19  2004-07-19 12:00:00       1,7         0.000           0          0
20  2004-07-19 12:00:00       1,8         0.000           0          0
21  2004-07-19 12:00:00      1,10         0.000           0          0
22  2004-07-19 12:00:00      1,17         0.000           0          0
23  2004-07-19 12:00:00      1,18         0.000           0          0
24  2004-07-19 12:00:00      1,59         0.000           0          0
25  2004-07-19 12:00:00      1,87         0.000           0          0
26  2004-07-19 12:00:00      1,89         0.000           0          0
27  2004-07-19 12:00:00       2,3         0.000           0          0
28  2004-07-19 12:00:00       2,4         0.000           0          0
29  2004-07-19 12:00:00       2,5         0.000           0          0
30  2004-07-19 12:00:00       2,6         0.000           0          0
31  2004-07-19 12:00:00       2,7         0.000           0          0
32  2004-07-19 12:00:00       2,8         0.000           0          0
33  2004-07-19 12:00:00      2,10         0.000           0          0
34  2004-07-19 12:00:00      2,17         0.000           0          0
35  2004-07-19 12:00:00      2,18         0.000           0          0
36  2004-07-19 12:00:00      2,59         0.000           0          0
37  2004-07-19 12:00:00      2,87         0.000           0          0
38  2004-07-19 12:00:00      2,89         0.000           0          0
39  2004-07-19 12:00:00       3,4         0.000           0          0
40  2004-07-19 12:00:00       3,5         0.000           0          0
41  2004-07-19 12:00:00       3,6         0.000           0          0
42  2004-07-19 12:00:00       3,7         0.000           0          0
43  2004-07-19 12:00:00       3,8         0.000           0          0
44  2004-07-19 12:00:00      3,10         0.000           0          0
45  2004-07-19 12:00:00      3,17         0.000           0          0
46  2004-07-19 12:00:00      3,18         0.000           0          0
47  2004-07-19 12:00:00      3,59         0.000           0          0
48  2004-07-19 12:00:00      3,87         0.000           0          0
49  2004-07-19 12:00:00      3,89         0.000           0          0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11628 entries, 0 to 11627
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   start         11628 non-null  object
 1   id_colums     11628 non-null  object
 2   intercontact  11628 non-null  float64
 3   SpatialLoc    11628 non-null  int32
 4   connected     11628 non-null  int32
dtypes: float64(1), int32(2), object(2)
memory usage: 363.5+ KB
None

In [18]:

0,1
0,2
0,3
0,4
0,5
0,6
0,7
0,8
0,10
0,17
0,18
0,59
0,87
0,89
1,2
1,3
1,4
1,5
1,6
1,7
1,8
1,10
1,17
1,18
1,59
1,87
1,89
2,3
2,4
2,5
2,6
2,7
2,8
2,10
2,17
2,18
2,59
2,87
2,89
3,4
3,5
3,6
3,7
3,8
3,10
3,17
3,18
3,59
3,87
3,89
4,5
4,6
4,7
4,8
4,10
4,17
4,59
4,87
4,89
5,6
5,7
5,8
5,10
5,17
5,18
5,59
5,87
5,89
6,7
6,8
6,10
6,17
6,18
6,59
6,87
6,89
7,8
7,10
7,17
7,18
7,59
7,87
7,89
8,10
8,17
8,18
8,59
8,87
8,89
10,17
10,18
10,59
10,87
10,89
17,18
17,59
17,87
17,89
18,59
18,87
18,89
59,87
59,89
87,89
2,3,4,5,6,7,8,10,17,18,59,87,89

SyntaxError: EOL while scanning string literal (<ipython-input-18-3bfa5acb6e4a>, line 2)

In [ ]:
0,1,2,3,4,5,6,7,8,10,17,18,59,87,89

In [15]:
import pandas as pd # data processing
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv("DATASET_BERES_WindowzScore.csv",  parse_dates=True)
df = pd.DataFrame(df)
df= df['id_colums'].nunique()
#df['id_colums'] = start.tolist()
print(df)
#df.to_csv('DATASETFINAL.csv', index=False,    encoding='utf-8')

2132